.download-action{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .insights > div.download span {
    background: var(--color-success);
}

main .insights > div .middle-archive {
    align-items: center;
    justify-content: space-between;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
